body {
  font-family: "Roboto", sans-serif; }
  body {
    font-size: 16px; }
    @media screen and (min-width: 320px) {
      body {
        font-size: calc(16px + 4 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      body {
        font-size: 20px; } }

#header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #2a2d34;
  text-align: center;
  z-index: 5; }

#logo-container {
  width: 100%; }

#nav-container {
  width: 100%; }

#nav-bar {
  display: flex;
  flex-direction: row; }

.nav-link {
  flex-grow: 1;
  text-decoration: none;
  color: #fff;
  border: 0.5px #6c7174 solid;
  padding: 10px 0; }

#hero {
  grid-area: hero;
  text-align: center;
  height: 65vh;
  background: linear-gradient(rgba(42, 45, 52, 0.6), rgba(42, 45, 52, 0.6)), url(../img/board-game-hero-min.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }
  #hero h1 {
    margin-top: 18vh; }

#details-section {
  background-color: #fff;
  color: #2a2d34;
  text-align: center;
  grid-area: details; }

#details-content {
  margin: auto;
  width: 85%; }

.video-wrapper {
  margin: auto;
  width: 100%;
  max-width: 100%; }

.video-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  z-index: 0; }

.video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#pricing-section {
  background-color: #2a2d34;
  grid-area: pricing;
  color: #fff; }

.price-card {
  --price-card-width: 200px;
  width: var(--price-card-width);
  height: calc(var(--price-card-width) * 1.4);
  border-radius: 10px;
  margin: auto;
  color: #2a2d34;
  background-color: #fff;
  display: grid;
  margin-bottom: 10px; }

.price-top, .price-bottom {
  font-size: 24px;
  font-weight: bold; }

.price-bottom {
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1); }

.badge-description {
  text-align: center; }

#form-section {
  background-color: #fff;
  color: #2a2d34;
  text-align: center;
  grid-area: form; }

.club-benefits {
  text-align: left;
  list-style-image: url("../img/icon-gray-16x16.png"); }

.form {
  width: 80vw;
  margin: auto;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.email-field {
  flex-grow: 3;
  font-family: inherit;
  height: 20px;
  border: 1px #e3e3e3 solid; }
  .email-field:active {
    border-color: #93dc28; }

.button {
  flex-grow: 2;
  background-color: #93dc28;
  border: none;
  font-family: inherit;
  color: #fff;
  height: 24px; }

/* Footer */
footer {
  text-align: center;
  background-color: #2a2d34; }

footer img {
  margin: 10px auto; }

footer p {
  font-size: .8em;
  color: #fff; }

footer a {
  color: #DBD593;
  font-weight: bold; }

.attribution {
  color: #e3e3e3;
  font-size: 10px;
  padding-bottom: 10px; }
  .attribution a {
    color: #93dc28; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

/* Content */
section h2 {
  margin-top: 0;
  padding-top: 10px;
  text-align: center; }

div.anchor {
  display: block;
  position: relative;
  top: -95px;
  visibility: hidden; }

#content-container {
  display: grid;
  grid-template-areas: "hero" "video" "details" "pricing" "form"; }

@media (min-width: 700px) {
  #content-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero     hero" "details  details" "pricing  pricing" "form     form"; }

  #details-content {
    padding: 40px; }

  #price-group-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    max-width: 700px;
    margin: auto; } }
