/* Footer */

footer {
  text-align: center;
  background-color: $dark-gray;
}

footer img {
  margin: 10px auto;
}

footer p {
  font-size: .8em;
  color: #fff;
}

footer a {
  color: #DBD593;
  font-weight: bold;
}

.attribution {
  color: $light-gray;
  font-size: 10px;
  padding-bottom: 10px;
  a {
    color: $lime-green;
  }
}
