footer {
  text-align: center;
  background-color: $primary-dark;
}

footer img {
  margin: 10px auto;
}

footer p {
  font-size: .8em;
  color: #fff;
}

footer a {
  color: #DBD593;
  font-weight: bold;
}

.attribution {
  color: $primary-medium;
  font-size: 10px;
  padding-bottom: 10px;
  a {
    color: $accent-1;
  }
}
