/* Footer */

footer {
  text-align: center;
  background-color: #706e99;
  border-top: 1px solid #706e99;
}

footer img {
  margin: 10px auto;
}

footer p {
  font-size: .8em;
  color: #fff;
}

footer a {
  color: #DBD593;
  font-weight: bold;
}
