#form-section {
  background-color: $white;
  color: $dark-gray;
  text-align: center;
  grid-area: form;
}

.club-benefits {
  text-align: left;
  list-style-image: url('../img/icon-gray-16x16.png');
}
