#form-section {
  background-color: $primary-light;
  color: $primary-dark;
  text-align: center;
  grid-area: form;
  margin: auto;
}

.club-benefits {
  width: 80vw;
  max-width: $m;
  text-align: left;
  list-style-image: url('../img/icon-gray-16x16.png');
  padding-left: 22px;
}

.form {
  width: 80vw;
  max-width: $s;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.email-field {
  flex-grow: 3;
  font-family: inherit;
  height: 20px;
  border: 1px $primary-medium solid;
  &:active {
    border-color: $accent-1;
  }
}

.button {
  flex-grow: 2;
  background-color: $accent-1;
  border: none;
  font-family: inherit;
  color: $primary-light;
  height: 24px;
}

@include break-point($m) {
  #form-section {
    width: 80vw;
    max-width: $m;
    margin: auto;
  }

}
