#header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  text-align: center;
}

#logo-container {
  width: 100%;
}

#nav-container {
  width: 100%;
}

#nav-bar {
  display: flex;
  flex-direction: row;
}

.nav-link {
  flex-grow: 1;
  text-decoration: none;
  color: #000;
  border: 0.5px #6c7174 solid;
  padding: 10px 0;
}
