#hero {
  grid-area: hero;
  text-align: center;
  height: 65vh;
  background: linear-gradient($primary-dark-gradient, $primary-dark-gradient), url(../img/board-game-hero-min.JPG) no-repeat center center;
  background-size: cover;
  color: $primary-light;
  h1 {
    margin-top: 18vh;
  }
}
