#pricing-section {
  background-color: $primary-dark;
  grid-area: pricing;
  color: $primary-medium;
}

.price-card {
  --price-card-width: 200px;
  width: var(--price-card-width);
  height: calc(var(--price-card-width) * 1.4);
  border-radius: 10px;
  margin: auto;
  color: $primary-dark;
  background-color: $primary-light;
  display: grid;
  margin-bottom: 10px;
}

.price-top {
  font-size: 24px;
  font-weight: bold;
}

.price-bottom {
  @extend .price-top;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.badge-description {
  text-align: center;
}

@include break-point($m) {
  #price-group-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    max-width: 700px;
    margin: auto;
  }
}
